{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block title %}Bulba{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-dark bg-dark font-weight-light ">
        <span class="navbar-brand" href="#">
            <img src="/static/bulba.jpeg" width="40" height="40" class="d-inline-block align-top rounded" alt="">
            <span class="ml-2">Bulba Pré-pago</span>
            {# <span class="navbar-text">
                ...carregue quando puder
            </span> #}
        </span>
    </nav>
{% endblock %}
{% block content %}
<div class="container">
{% block page_content %}{% endblock %}
</div>
{% endblock %}