{% extends "base.html" %}

{% block page_content %}
{# Links #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{# Form que busca cliente #}
<form action="" method="POST">
    <label class="mt-4" for="input-cpf">Buscar cliente</label>
    <div class="input-group mb-4">
        <input class="form-control" id="input-cpf" placeholder="Digite cpf" name="cpf">
        <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Buscar</button>
        </div>
    </div>
</form> 


{# Botão que dispara modal de cadastro de cliente #}
 <div  class="container mb-5">
        <div class="row">
            <div class="col-2 pl-0">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalCadastro">
                Cadastrar cliente
                </button>
            </div>
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Visualizações
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item btn-visualizacao" type="button" name="visualizao" value = "vis1">Visualização 1</button>
                        <button class="dropdown-item btn-visualizacao" type="button" name="visualizao" value = "vis2">Visualização 2</button>
                        <button class="dropdown-item btn-visualizacao" type="button" name="visualizao" value = "vis3">Visualização 3</button>
                        <button class="dropdown-item btn-visualizacao" type="button" name="visualizao" value = "vis4">Visualização 4</button>
                    </div>
                </div>
            </div>
        </div>
</div>


{# Lista de clientes #}
<div>
   {% if clientes != None %}
    <div  class="container mb-2">
        <div class="row">
            {% for label in usuarioLabel %}
                <h5 class="col-sm">
                    {{ label }}
                </h5>
            {% endfor %} 
        </div>
    </div>
    {% for cliente in clientes %}
        <div id="accordion">
            <div class="card mb-1" >
                <div class="card-header" id="headingOne">
                    <div class="">
                        <div class="" data-toggle="collapse" data-target="#{{cliente.cpf}}" aria-expanded="true" aria-controls="{{cliente.cpf}}">
                            <div  class="container">
                                <div class="row font-weight-light">
                                    <div class="col-sm my-auto">
                                        {{ cliente.cpf }}
                                    </div>
                                    <div class="col-sm my-auto">
                                        {{ cliente.nome }}
                                    </div>
                                    <div class="col-sm my-auto">
                                        {{ cliente.plano }}
                                    </div>
                                    <div class="col-sm my-auto">
                                        {{ cliente.nascimento }}
                                    </div>
                                    <div class="col-sm my-auto">
                                        <form action='/' , method='POST'>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Opções
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <button class="dropdown-item" type="submit" name="deletar" value="{{cliente.cpf}}" onclick="event.stopPropagation();">Deletar</button>
                                                    <button class="dropdown-item adicionarSaldo" type="button" name="adicionarSaldo" value="{{cliente.cpf}}" onclick="event.stopPropagation();">Adicionar saldo</button>
                                                    <button class="dropdown-item adicionarChamada" type="button" name="adicionarChamada" value="{{cliente.cpf}}" onclick="event.stopPropagation();" >Adicionar chamada</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {# Informação cliente detalhada #}
        <div id="{{cliente.cpf}}" class="collapse" aria-labelledby="heading{{cliente.cpf}}" data-parent="#accordion">
        <div class="card-body">
            <div  class="container">
                    <div class="row mb-2">
                        <div class="col-sm">
                            <h6>
                            Saldo:
                                <span class="text-muted font-weight-light">R$ {{ cliente.saldo }}</span>
                            </h6> 
                        </div>
                        <div class="col-sm">
                           
                        </div>
                    </div>
                    <div class="row border-top border-bottom pt-3 ">
                        <div class="col-sm mb-2">
                            <h6>
                             Minutos consumidos: 
                             <span class="text-muted font-weight-light">{{ cliente.minutoConsumido }} min</span>
                             </h6>
                        </div>
                        <div class="col-sm mb-2">
                            <h6>
                            Internet consumida:
                            <span class="text-muted font-weight-light">{{ cliente.internetConsumida }} GB</span> 
                            </h6>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm">
                            <h6>
                            <div>
                                Chamadas realizadas:
                            </div>
                            {% for chamada in cliente.chamadas %}
                                <div class="text-muted mt-1 font-weight-light">
                                    {{chamada}}
                                </div>
                            {% endfor %} 
                            </h6>
                        </div>
                        <div class="col-sm">
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% else %}
    <div class="alert alert-warning mb-2">
        Nunhum cliente encontrado!
    </div>
{% endif %}
</div>


{# Modal de cadatro de cliente #}
<div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/inserir" method="POST">
            <div class="form-group">
                <label for="input-nome">Nome do cliente</label>
                <input class="form-control" id="input-nome"  placeholder="Digite nome" name="novoNome">
            </div>
            <div class="form-group">
                <label for="input-cpf">Cpf</label>
                <input class="form-control" id="input-cpf"  placeholder="Digite cpf" name="novoCpf">
            </div>
            <div class="form-group">
                <label for="input-telefone">Número do cliente</label>
                <input class="form-control" id="input-telefone"  placeholder="Digite número" name="novoNumero">
            </div>
            <div class="form-group">
                <label for="input-data">Data de Nascimento</label>
                <input class="form-control" id="input-data"  placeholder="dd/mm/aaaa" name="novoData">
            </div>
         
            {% for plano in planos %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radioPlano" id="{{plano}}" value="{{plano}}">
                    <label class="form-check-label" for="{{plano}}">{{plano}}</label>
                </div>
            {% endfor %}
            <div class="mb-3"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary" >Cadastrar</button>
            </div>
        </form> 
      </div>
    </div>
  </div>
</div>


{# Modal visualização #}
<div class="modal fade" id="empModal-vis" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Visualização</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" id="modal-vazio-vis">
            </div>
        </div>
    </div>
</div>


{# Modal para Adicionar saldo / chamada #}
<div class="modal fade" id="empModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" id="modal-vazio">
            </div>
        
        </div>
    </div>
</div>

{# Scripts #}
{# Jquery script para modal - Adicionar Saldo/Chamada#}
<script type='text/javascript'>
    $(document).ready(function(){
        $('.adicionarSaldo, .adicionarChamada').click(function(){
            var cpf = $(this).val();
            var tipoAcao = $(this).attr("class").split(' ')[1];
            $.ajax({
                url: '/ajaxfile',
                type: 'post',
                data: {cpf: cpf, tipoAcao: tipoAcao},
                success: function(data){ 
                    $('#modal-vazio').html(data); 
                    $('#modal-vazio').append(data.htmlresponse);
                    $('#empModal').modal('show'); 
                }
            });
        });
    });
</script>

{# Jquery script para modal - Visualização#}
<script type='text/javascript'>
    $(document).ready(function(){
        $('.btn-visualizacao').click(function(){
            var vis = $(this).val();
            $.ajax({
                url: '/ajaxfilevisualizacao',
                type: 'post',
                data: {vis: vis},
                success: function(data){ 
                    $('#modal-vazio-vis').html(data); 
                    $('#modal-vazio-vis').append(data.htmlresponse);
                    $('#empModal-vis').modal('show'); 
                }
            });
        });
    });
</script>

{% endblock %}