{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}

{# Form que busca cliente #}
<form action="" method="POST">
    <label class="mt-4" for="input-cpf">Buscar cliente</label>
    <div class="input-group mb-4">
        <input class="form-control" id="input-cpf" placeholder="Digite cpf" name="cpf">
        <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Buscar</button>
        </div>
    </div>
</form> 


{# Botão que dispara modal de cadastro de cliente #}
<button type="button" class="btn btn-secondary mb-4" data-toggle="modal" data-target="#exampleModal">
  Cadastrar cliente
</button>


{# Lista de clientes #}
<div>
<div  class="container mb-2">
    <div class="row">
        {% for label in usuarioLabel %}
            <div class="col-sm">
                {{ label }}
            </div>
        {% endfor %} 
    </div>
</div>
{% for cliente in clientes %}
    <div id="accordion">
    <div class="card mb-1" >
        <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <div class="" data-toggle="collapse" data-target="#{{cliente.cpf}}" aria-expanded="true" aria-controls="{{cliente.cpf}}">
                <div  class="container">
                    <div class="row">
                        <div class="col-sm">
                            {{ cliente.cpf }}
                        </div>
                        <div class="col-sm">
                            {{ cliente.nome }}
                        </div>
                        <div class="col-sm">
                             {{ cliente.plano }}
                        </div>
                        <div class="col-sm">
                             {{ cliente.nascimento }}
                        </div>
                        <div class="col-sm">
                             <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Opções
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" onclick="event.stopPropagation();">Deletar</a>
                                    <a class="dropdown-item" href="#" onclick="event.stopPropagation();">Adicionar saldo</a>
                                    <a class="dropdown-item" href="#" onclick="event.stopPropagation();">Adicionar chamada</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h5>
        </div>

        <div id="{{cliente.cpf}}" class="collapse" aria-labelledby="heading{{cliente.cpf}}" data-parent="#accordion">
        <div class="card-body">
            <div  class="container">
                    <div class="row mb-3">
                        <div class="col-sm">
                            Saldo: {{ cliente.saldo }}
                        </div>
                        <div class="col-sm">
                           
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm">
                             Minutos disponíveis: {{ cliente.minutoDisponivel }} min
                        </div>
                        <div class="col-sm">
                            Internet disponível: {{ cliente.internetDisponivel }} GB
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm">
                            <div>
                                Chamadas realizadas:
                            </div>
                            {% for chamada in cliente.chamadas %}
                                <div>
                                    {{chamada}}
                                </div>
                            {% endfor %} 
                        </div>
                        <div class="col-sm">
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %} 
</div>



{# Modal de cadatro de cliente #}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/inserir" method="POST">
            <div class="form-group">
                <label for="input-nome">Nome do cliente</label>
                <input class="form-control" id="input-nome"  placeholder="Digite nome" name="novoNome">
            </div>
            <div class="form-group">
                <label for="input-cpf">Cpf</label>
                <input class="form-control" id="input-cpf"  placeholder="Digite cpf" name="novoCpf">
            </div>
            <div class="form-group">
                <label for="input-telefone">Número do cliente</label>
                <input class="form-control" id="input-telefone"  placeholder="Digite número" name="novoNumero">
            </div>
            <div class="form-group">
                <label for="input-data">Data de Nascimento</label>
                <input class="form-control" id="input-data"  placeholder="dd/mm/aaaa" name="novoData">
            </div>
         
            {% for plano in planos %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radioPlano" id="{{plano}}" value="{{plano}}">
                    <label class="form-check-label" for="{{plano}}">{{plano}}</label>
                </div>
            {% endfor %}
            <div class="mb-3"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary" >Cadastrar</button>
            </div>
        </form> 
      </div>
    </div>
  </div>
</div>


{% endblock %}