{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
{# {% for cliente in clientes %}
        <div  class="container">
            <div class="row">
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
            </div>
        </div>
{% endfor %} #}
{# Search bar #}
{# <div class="container">
    {{ wtf.quick_form(form) }}
</div> #}


<form action="" method="post">
    {{ form.hidden_tag() }}
    {{form.cpf.label(class="mt-4")}}
    <div class="input-group mb-4">
        {{form.cpf(class="form-control")}}
        <div class="input-group-append">
        {{form.submit(class="btn btn-secondary")}}
        </div>
    </div>
</form>


<table class="table table-hover" data-toggle="table">
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Plano</th>
      <th>Data de nascimento</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}

        <tr data-toggle="collapse" data-target="#{{cliente.cpf}}">
            <td>
                {{ cliente.cpf }}
            </td>
            <td>
                {{ cliente.nome }}
            </td>
            <td>{{ cliente.numero }}</td>
            <td> 
                {{ cliente.plano }}
            </td>
            <td> 
                {{ cliente.nascimento }}
            </td>
        </tr>
        <tr>
            {# <td class="hiddenRow"> #}
                <div id="{{cliente.cpf}}" class="container collapse">
                    <div class="row">
                        <div class="col-sm">
                        One of three columns
                        </div>
                        <div class="col-sm">
                        One of three columns
                        </div>
                    </div>
                </div>
            {# </td> #}
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}